:root {
  --font-size-0: 0.563rem;
  --font-size-1: 0.75rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.563rem;
  --font-size-5: 1.953rem;
  --font-size-6: 2.441rem;
  --font-size-7: 3.052rem;
  --font-size-8: 3.815rem;
  --font-size-9: 4.77rem;
  --font-size-10: 5.9rem;
  --font-size-11: 7.2rem;
  --font-size-12: 8.8rem;

  --color-primary: #18115c;
  --color-primary-contrast: #ffffff;
  --color-secondary: #e7cbb9;
  --color-secondary-contrast: #202020;

  --color-primary-light: #efeeff;
  --color-primary-light-contrast: #202020;

  --color-app-surface: #fafafa;

  --color-gray: #acacac;
  --color-gray-contrast: #202020;

  --color-gray-dark: #202020;
  --color-gray-dark-contrast: #ffffff;

  --color-error: #700000;
  --color-error-contrast: #ffffff;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  min-height: 100%;
}
.app-surface {
  background: var(--color-app-surface);
  height: 100%;
}
.bible-text {
  font-family: 'Crimson Text', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-7);
}

h2 {
  font-size: var(--font-size-6);
}

h3 {
  font-size: var(--font-size-5);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-3);
}

h6 {
  font-size: var(--font-size-2);
}

p {
  font-size: var(--font-size-1);
}

p.large {
  font-size: var(--font-size-2);
}

p.small {
  font-size: var(--font-size-1);
}

small {
  font-size: var(--font-size-1);
}

.title,
.title-lg {
  font-size: var(--font-size-2);
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}
.title-lg {
  font-size: var(--font-size-3);
}

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  h1 {
    font-size: var(--font-size-9);
  }

  h2 {
    font-size: var(--font-size-8);
  }

  h3 {
    font-size: var(--font-size-7);
  }

  h4 {
    font-size: var(--font-size-6);
  }

  h5 {
    font-size: var(--font-size-5);
  }

  h6 {
    font-size: var(--font-size-4);
  }

  p {
    font-size: var(--font-size-2);
  }

  p.large {
    font-size: var(--font-size-3);
  }

  p.small {
    font-size: var(--font-size-1);
  }

  small {
    font-size: var(--font-size-1);
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-spacer {
  flex: 1 1 auto;
}

.centered-text {
  text-align: center;
}

.modal-content-wrap {
  position: relative;
  padding: 1rem;
  min-width: 325px;
  width: 100%;
}

// SCSS function to generate padding and margin utility classes
$spacing-unit: 0.25rem;
$spacing-increments: 20; // Adjust the number of classes you need (for example, 0.25rem to 5rem)

// Generate padding classes
@for $i from 0 through $spacing-increments {
  .p-#{$i} {
    padding: $spacing-unit * $i;
  }
  .pt-#{$i} {
    padding-top: $spacing-unit * $i;
  }
  .pr-#{$i} {
    padding-right: $spacing-unit * $i;
  }
  .pb-#{$i} {
    padding-bottom: $spacing-unit * $i;
  }
  .pl-#{$i} {
    padding-left: $spacing-unit * $i;
  }
  .px-#{$i} {
    padding-left: $spacing-unit * $i;
    padding-right: $spacing-unit * $i;
  }
  .py-#{$i} {
    padding-top: $spacing-unit * $i;
    padding-bottom: $spacing-unit * $i;
  }
}

// Generate margin classes
@for $i from 1 through $spacing-increments {
  .m-#{$i} {
    margin: $spacing-unit * $i;
  }
  .mt-#{$i} {
    margin-top: $spacing-unit * $i;
  }
  .mr-#{$i} {
    margin-right: $spacing-unit * $i;
  }
  .mb-#{$i} {
    margin-bottom: $spacing-unit * $i;
  }
  .ml-#{$i} {
    margin-left: $spacing-unit * $i;
  }
  .mx-#{$i} {
    margin-left: $spacing-unit * $i;
    margin-right: $spacing-unit * $i;
  }
  .my-#{$i} {
    margin-top: $spacing-unit * $i;
    margin-bottom: $spacing-unit * $i;
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Allows flexibility */
  min-width: 0;
}
